/* Write your CSS here */
.similar-product-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 4px;
}

@media screen and (min-width: 768px) {
  .similar-product-item {
    width: 200px;
    margin-right: 20px;
  }
}
.similar-product-image {
  width: 200px;
  margin-bottom: 8px;
  border-radius: 6px;
}
.similar-product-title {
  color: #1e293b;
  font-size: 19px;
  font-weight: 700;
  font-family: 'Roboto';
}
.similar-product-brand {
  color: #475569;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Roboto';
}
.similar-product-price-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.similar-product-price {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
}
.similar-product-rating-container {
  display: flex;
  align-items: center;
  background-color: #3b82f6;
  border-radius: 6px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
}

.similar-product-rating {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.star-image {
  height: 14px;
  width: 14px;
}
